.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tableAndForm {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.logout {
  margin-bottom: 50px;
}

.beerTable {
  width: 80%;
  margin: 50px auto;
}

.beerTable table, th, td {
  border: 1px solid black;
}

.beerForm {
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
